:root[data-theme="latte"] {
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --text: #4c4f69;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --blue: #1e66f5;
  --mauve: #8839ef;
  --red: #d20f39;
  --peach: #fe640b;
  --green: #40a02b;
  --yellow: #df8e1d;
  --teal: #179299;

  --bg-1: var(--base);
  --bg-2: var(--mantle);
  --text-1: var(--text);
  --text-2: var(--subtext0);
  --accent-1: var(--blue);
  --accent-2: var(--mauve);
  --code-loading: var(--overlay1);
  --code-error: var(--red);
  --code-success: var(--green);
  --gradient-1: linear-gradient(116.43deg, var(--blue) 0%, var(--mauve) 100%);
  --gradient-2: linear-gradient(146.42deg, var(--base) 0%, var(--surface1) 100%);
  --border: var(--surface0);
}
