:root[data-theme="ucll"] {
  --bg-1: #ffffff;
  --bg-2: #efefef;
  --text-1: #333333;
  --text-2: #003469;
  --accent-1: #e30046;
  --accent-2: #b40a4d;
  --code-loading: #cccccc;
  --code-error: #e30046;
  --code-success: #77cc74;
  --gradient-1: linear-gradient(116.43deg, #e30046 0%, #b40a4d 100%);
  --gradient-2: linear-gradient(146.42deg, #003469 0%, #621e5a 100%);
  --border: #003469;
}
