@import "./themes/ucll.css";
@import "./themes/dark.css";

@import "tailwindcss";

#__next {
  @apply flex flex-col w-full h-full;
}

/* Utilities */
.bg-gradient-1 {
  background-image: var(--gradient-1);
}

.bg-gradient-2 {
  background-image: var(--gradient-2);
}

@utility util-center {
  @apply flex items-center justify-center;
}

@utility util-wrapper {
  @apply flex flex-1 overflow-auto;
}

@utility util-gap {
  @apply gap-3;
}

@utility util-padding {
  @apply util-gap px-6 py-3;
}

@utility util-border {
  @apply border-2 rounded-md border-tx-secondary;
}

/* Typography */
h1 {
  @apply font-extrabold text-3xl my-3 text-tx-secondary;
}
h2 {
  @apply font-bold text-3xl my-3 text-tx-secondary;
}
h3 {
  @apply font-bold text-2xl my-2 text-tx-secondary;
}
h4 {
  @apply font-semibold text-2xl my-2 text-tx-secondary;
}
h5 {
  @apply font-bold text-xl my-1 text-tx-secondary;
}
h6 {
  @apply font-semibold text-xl my-1 text-tx-secondary;
}

p {
  @apply text-tx-primary;
}

a {
  @apply text-tx-primary;
}

a:hover {
  @apply text-accent-primary;
}

/* Components */
.btn {
  @apply util-center util-padding util-border rounded bg-gradient-1 text-primary cursor-pointer;
}

.btn:hover {
  @apply bg-accent-primary text-secondary border-accent-secondary;
}

.btn-secondary {
  @apply util-center util-border rounded bg-tx-secondary text-primary cursor-pointer;
}

.btn-secondary:hover {
  @apply bg-tx-secondary/30 text-secondary;
}

.input {
  @apply util-padding util-border w-full bg-secondary focus:outline-none focus:ring-2 focus:ring-accent-primary;
}
