@import "./themes/ucll.css";
@import "./themes/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
#__next {
  @apply flex flex-col w-full h-full;
}

h1 {
  @apply font-extrabold text-3xl my-3 text-tx-secondary;
}

h2 {
  @apply font-bold text-3xl my-3 text-tx-secondary;
}

h3 {
  @apply font-bold text-2xl my-2 text-tx-secondary;
}

h4 {
  @apply font-semibold text-2xl my-2 text-tx-secondary;
}

h5 {
  @apply font-bold text-xl my-1 text-tx-secondary;
}

h6 {
  @apply font-semibold text-xl my-1 text-tx-secondary;
}

p {
  @apply text-tx-primary;
}

a {
  @apply text-tx-primary;
}

a:hover {
  @apply text-accent-primary;
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6,
a:hover p {
  @apply text-accent-primary;
}

/* Utilities */
@layer utilities {
  .bg-gradient-1 {
    background-image: var(--gradient-1);
  }

  .bg-gradient-2 {
    background-image: var(--gradient-2);
  }

  .Center {
    @apply flex items-center justify-center;
  }

  .Wrapper {
    @apply flex flex-1 min-h-0 overflow-auto;
  }

  .Gap {
    @apply gap-3;
  }

  .Padding {
    @apply Gap px-6 py-3;
  }

  .Border {
    @apply border-2 rounded-md border-tx-secondary;
  }
}

/* Components */
@layer components {
  .btn {
    @apply Center Padding Border rounded bg-gradient-1 text-primary cursor-pointer;
  }

  .btn:hover {
    @apply bg-accent-primary text-secondary border-accent-secondary;
  }

  .btn-secondary {
    @apply Center Border rounded bg-tx-secondary text-primary cursor-pointer;
  }

  .btn-secondary:hover {
    @apply bg-tx-secondary bg-opacity-30 text-secondary;
  }

  .input {
    @apply Padding Border w-full bg-secondary focus:outline-none focus:ring-2 focus:ring-accent-primary;
  }
}
